@use '../../../styles/fonts/fonts.scss' as *;
@use '../../../styles/utils/_vars' as *;

$bg-blue: #1a73e8;
$bg-blue-hover: #1b66c9;
$bg-blue-focus: #1c5fba;
$button-shadow: 0 1px 3px 1px rgba(66, 64, 67, 0.15),
  0 1px 2px 0 rgba(60, 64, 67, 0.3);

.button {
  background-color: $bg-blue;
  height: 100%;
  border: 1px solid transparent;
  font-family: 'GoogleSans', Helvetica, Arial, sans-serif;
  color: $primary-white;
  font-size: $large-font-size;
  letter-spacing: 0.25px;
  line-height: 16px;
  margin-left: 10px;
  margin-right: 8px;
  min-width: 96px;
  padding: 9px 23px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  border-radius: $button-border-radius;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: $bg-blue-hover;
    box-shadow: $button-shadow;
  }

  &:focus {
    background-color: $bg-blue-focus;
    box-shadow: $button-shadow;
  }
}
